@charset "utf-8";

/*全体*/

.wrapper{
    max-width:600px;
    margin : 0 auto;
    padding-bottom : 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #666;
    background-color: #fafafa
}
#selectedtitle{
    text-align: center;
    font-size: 32px;
    width: 100%;
    margin: 1rem 0 0;
}
#header{
    text-align: center;
    font-size: 24px;
    width:100%;
    margin : 1rem 0 0;
}

/*カレンダー*/
#calendar , #calendar2{
    text-align: center;
    width: 100%;
}

table{
    outline:2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th{
    color: #000;
}
th,td{
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
/*日曜日*/
td:first-child{
    color:red;
}
td:last-child{
    color:blue;
}
th:first-child{
    color: red;
}
th:last-child{
    color: blue;
}
td.links{
    text-decoration: underline;
    cursor: pointer;
}

/*前後月の日付*/
td.disabled{
    color:#ccc;
}
td.future{
    color: #888;
    text-decoration: underline;
    cursor: pointer;

}
/*本日*/
td.today{
    background-color: #D65E72;
    color:#fff;
    text-decoration: underline;
    cursor: pointer;
}


/*ボタン*/
#next-prev-button{
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size:1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev{
    float: left;
}
#next{
    float:right;
}

a.change{
    text-align: right;
    text-decoration: underline;
    margin-right: 5%;
    margin-bottom: 5px;
}

a.delete{
    text-align: right;
    text-decoration: underline;
    margin-right: 5%;
    margin-bottom: 5pX;
}

/*時刻の予約に関するタグ等のCSS*/
.reload{
    color: #00f;
    text-decoration: underline;
    cursor: pointer;
}

.texthori{
    text-combine-upright: all;
    writing-mode: vertical-rl;
}

.gray{
    color:rgb(206, 206, 206);
    font-size: 15px;
}

body{
    background: url(./image_list/icon_repeat.jpg) repeat;
    filter: alpha;

}


#timeselector{
    display: none;
    text-align: center;
}